<div class="header">-</div><div class="row">
<div class="col-md-6">
<h3>Day 1</h3>
<table class="table table-striped">
<tr><th>Start</th><th>Duration (minutes)</th><th>End</th><th>Episode</th></tr>
<tr>
	<td>09:00</td><td>0</td><td>09:00</td><td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td>
</tr>
<tr>
	<td>09:00</td><td>20</td><td>09:20</td><td><a href="https://swcarpentry.github.io/git-novice/index.html">Introduction</a></td>
</tr>
<tr>
	<td>09:20</td><td>20</td><td>09:40</td><td><a href="https://swcarpentry.github.io/git-novice/01-basics.html">Automated Version Control</a></td>
</tr>
<tr>
	<td>09:40</td><td>20</td><td>10:00</td><td><a href="https://swcarpentry.github.io/git-novice/02-setup.html">Setting Up Git</a></td>
</tr>
<tr>
	<td>10:00</td><td>30</td><td>10:30</td><td><a href="https://swcarpentry.github.io/git-novice/03-create.html">Creating a Repository</a></td>
</tr>
<tr>
	<td>10:30</td><td>15</td><td>10:45</td><td><a href="{{ site.index }}">BREAK</a></td>
</tr>
<tr>
	<td>10:45</td><td>20</td><td>11:05</td><td><a href="https://swcarpentry.github.io/git-novice/04-changes.html">Tracking Changes</a></td>
</tr>
<tr>
	<td>11:05</td><td>25</td><td>11:30</td><td><a href="https://swcarpentry.github.io/git-novice/05-history.html">Exploring History</a></td>
</tr>
<tr>
	<td>11:30</td><td>20</td><td>11:50</td><td><a href="https://swcarpentry.github.io/git-novice/06-ignore.html">Ignoring Things</a></td>
</tr>
<tr>
	<td>11:50</td><td>60</td><td>12:50</td><td><a href="{{ site.index }}">LUNCH</a></td>
</tr>
<tr>
	<td>12:50</td><td>45</td><td>13:35</td><td><a href="https://swcarpentry.github.io/git-novice/instructor/07-github.html">Remotes in GitHub</a></td>
</tr>
<tr>
	<td>13:35</td><td>30</td><td>14:05</td><td><a href="https://newcastlerse-training.github.io/git-ultra-novice/07-branching/index.html">Branches</a></td>
</tr>
<tr>
	<td>14:05</td><td>25</td><td>14:30</td><td><a href="https://swcarpentry.github.io/git-novice/instructor/08-collab.html">Collaborating</a></td>
</tr>
<tr>
	<td>14:30</td><td>30</td><td>15:00</td><td><a href="https://swcarpentry.github.io/git-novice/instructor/09-conflict.html">Conflicts</a></td>
</tr>
<tr>
	<td>15:00</td><td>15</td><td>15:15</td><td><a href="{{ site.index }}">BREAK</a></td>
</tr>
<tr>
	<td>15:15</td><td>90</td><td>16:45</td><td><a href="https://newcastlerse-training.github.io/git-ultra-novice/10-pull-requests/index.html">Pull Requests</a></td>
</tr>
<tr>
	<td>16:45</td><td>15</td><td>17:00</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td>
</tr>
</table>
</div>
</div>
